body{
    background: #efefef;
    margin: 0;
}
a{
    color: inherit;
    text-decoration:none; 
}
*{
    margin: 0;
    padding: 0;
}
h3,h4,h5,h6{
    font-weight: normal;
}
hr{
    height: 0;
    border: none;
    border-top:1px solid #dedede;
}
.clearfix::after{
    content:'';
    display: block;
    clear:both;
}
ul,ol{
    list-style: none;
}
.top-nav-bar{
    padding: 20px 0;
    position: fixed;
    color: #b7b7b7;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 1s;
}
.top-nav-bar.sticky{
    background: white;
    padding: 15px 0;
    z-index: 1;
    box-shadow: 0px 5px 15px -3px rgba(0,0,0,0.75);
    color: #3d4451;
}
.top-nav-bar .Menulist{
    position: relative;   
}
.top-nav-bar .Menulist .submenu{
    display:none;
    position: absolute;
    top: 110%;
    right: 0;
    
}
@keyframes cd{
    0%{
        margin-right:100%;
        opacity: 0.2;
    }
    100%{
        margin-right: 0;
        opacity: 1;
    }
}
.top-nav-bar .submenu li{
    white-space:nowrap;
    text-align:right;
    margin-top:6px; 
    
}
.top-nav-bar .Menulist.active .submenu{
    display:block;
    animation: cd 1s;
}
.top-nav-bar-inner{
    padding: 0 16px;
}

.top-nav-bar  nav > ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.top-nav-bar nav > ul > li{
    float: left;
    margin: 0 17px 0;

}
.top-nav-bar nav > ul > li > a{
    font-size: 11px;
    color: inherit;
    font-weight: bold; 
    border-top: 3px solid transparent;
    padding: 8px 0 8px;
    display: block;
    position: relative;
}
.top-nav-bar nav > ul > li.active > a::after{
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #e06567;
    height: 3px;
    border-radius: 2px;
    animation: menuSlide .3s;
}
@keyframes menuSlide{
    0%{
        width: 0;
    }
    100%{
        width:100%;
    }
}
.top-nav-bar .logo .rs{
    margin-right: 4px;
    color: #e6686a;
}
.top-nav-bar .logo .card{
    color:#9a9da2;
}
.top-nav-bar .logo{
    font-size: 24px;
    font-family:"Arial Black";   
}
.banner{
    height: 520px;
    background-image: url(../pic/bg_meitu_3.jpg);
    background-size: cover;
}
.banner .mask{
    height: 520px;
    background-color: rgba(0,0,0,0.8);

}
.userCard{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto; 
    background-color: #ffffff;
    box-shadow: 0px 8px 15px -5px rgba(0,0,0,0.65);
}
.userCard .hello{
    background:#e6686a;
    color: #efefef;
    display:inline-block;
    padding: 4px 16px;
    line-height: 22px;
    position: relative;
    margin-bottom: 10px;
}
.hello .triangle{
    border: 10px solid transparent;
    width: 0;
    border-left-color:#e6686a;
    border-top-width: 0; 
    position: absolute;
    left: 4px;
    top:100%;
}
.userCard .picture{
    float: left;
}
.userCard .text{
    float: left;
    padding-left: 50px;
    width: 470px;
}
.userCard .text h1{
    margin-top: 18px;
}
.userCard .text  p{
    margin-top: 5px;
}
.userCard .text hr{
    margin: 20px 0;
}
.userCard .PAT{   
    padding: 50px;
}
.userCard dl dt,
.userCard dl dd{
    float: left;
    padding: 5px 0;
}
.userCard dl dt {
    width: 30%;
    font-weight: bold;
}
.userCard dl dd{
    width: 70%;
    color: #9da0a7;
}
.userCard > footer.media{
    background:#e6686a;
    align-items:center;
    justify-content:center;
    display: flex;
}
.userCard > footer.media >a{
    justify-content:center;
    border-radius: 50%;
    line-height: 30px;
    padding: 6px 0;
    width: 42px;
    margin: 16px;
    display: flex;
    align-items:center;

}
.userCard > footer.media >a:hover{
    background: #cf5d5f;
}
.userCard svg{
    width: 30px;
    height: 30px;
    fill: #dedede;
    vertical-align:top; 
}
.download{
    font-size: 14px;
    line-height: 16px;
    display: inline-block;
    padding: 21px 55px;
    border: #cdcfd1 solid 1px;
    background: #efefef;
    border-radius:5px;
    color: #3d4451;
    font-weight: bold;
    margin: 32px 0;
}
.download-wrapper{
    text-align: center;
}
.download:hover{
    box-shadow: 0px 8px 25px -3px rgba(0,0,0,0.75);
    transition: box-shadow 0.2s;
}
.selfIntroduction{    
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
    font-family:"SimHei"; 
}
section.skills,
section.portfolio{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
section.skills h2,
section.portfolio h2{
    text-align: center;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}
section.skills h3{
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
}
section.skills ol{
    background: white;
    box-shadow: 0px 8px 15px -5px rgba(0,0,0,0.65);
    padding: 42px 50px 20px;
    margin-top: 20px;
}
section.skills .progressBar{
    height: 3px;
    background: #fae1e1;
    margin: 10px 0 40px;
}
section.skills .progressBar > .progress{
    height:100%;
    background: #e6686a;
    width: 70%;
}
section.skills ol li{
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding-right: 50px;   
}
section.skills ol li:nth-child(even){
    float: right;
}
section.portfolio{
    text-align: center;
    margin-bottom: 80px;
    
} 
section.portfolio ol li{
    float: left;
    margin-left: 40px;
    cursor: pointer;

}
section.portfolio nav ol{
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;   
}
section.portfolio nav{
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
section.portfolio ol li:first-child{
     margin-left: 0;      
}
/* nth-child(1) =first-child */

section.portfolio nav .bar{
    height: 5px;
    background: white;
    border-radius: 2px;
    margin: 5px 0 50px;
    

}
section.portfolio nav .bar-inner1{
    height: 100%;
    background: #e6686a;
    width: 13%;
    border-radius: 2px;
    margin-left: 0;
    transition:  all 0.3s;
    
}
section.portfolio nav .bar-inner2{
    height: 100%;
    background: #e6686a;
    width: 15%;
    border-radius: 2px;
    margin-left: 72px;
    transition:  all 0.3s;
}
section.portfolio nav .bar-inner3{
    height: 100%;
    background: #e6686a;
    width: 39%;
    border-radius: 2px;
    margin-left: 143px;
    transition:  all 0.3s;
}
section.portfolio nav{
    margin-top: 50px;
}
section.portfolio div.works .big img{
    width: 606px;
    height: 606px;
}
section.portfolio div.works .small img{
    width: 293px;
    height: 293px;
}
section.portfolio .works{
    position: relative;
    height: 597px;
    
}
section.portfolio .works .big,
section.portfolio .works .small{
    position: absolute;
}















